body{
    background-color: whitesmoke;
    color: black ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body p{
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav{
    background-color: cadetblue;
    color: white;
    border: 1px solid yellow;
    height: auto;
}
ul img {
  margin-left: 230px;
  width: 200px;


}
.nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.nav ul li {
     padding: 16px;
     text-align: center;
     font-size: 1.2rem;
     cursor: pointer;
     border-bottom: 1px solid black;
     transition: background-color 0.2s;
     border: 1px solid white;
}
.nav ul li:hover{
    background-color: whitesmoke;
    color: black;
} 
a{
  text-decoration: none;
}

.image-area{
    background-image: url('../images/home3.jpg');
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center center;
    background-size: cover;
}
.centered-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 16px;
  }
.image-text {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .intro-text {
    color: black;
    font-size: 1.5rem;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  button{
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
  }

  .single-service {
    text-align: center;

  }
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    place-content: center;
  }
  .caffe img {
    width:500px;
    /* border: 1px solid red;  */
  }
  .snacks img {
    width:500px;
    /* border: 1px solid red; */
  }
  .snacks p{
    text-align: center;
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  }
  .caffe p {
  text-align: center;
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  }
  
  @media screen and (min-width: 700px) {
    .nav ul {
      text-align: right;
    }
  
    .nav ul li {
      display: inline-block;
      border-bottom: 0px;
      text-align: left;
    }
    ul img {
      display: flex;
      justify-content: center;
      border: 1px solid red;
      width: 100px;
      margin-left: 20px;
    }
  
    .single-service {
      width: 50%;
      float: left;
    }
  }

  @media screen and (max-width: 700px){
    .services{
      display: grid;
      grid-template-columns: 0.5fr;
    }
    
    .image-area{
      padding-top: 200px;
      padding-bottom: 200px;
      background-position: center center;
      background-size: cover;
  }

  }