body{
    background-color: whitesmoke;
    color: black ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body p{
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.wrapper{
  background-color: whitesmoke;
}

.nav{
    background-color: seagreen;
    color: white;
    height: auto;
    padding: auto;
    visibility: visible;
}
ul{
  text-align: center;
  background-color: seagreen;
}
ul img {
cursor: pointer;
  width: 200px;
}
ul li {
  text-decoration: none;
  list-style: none;
  background-color: seagreen;
}
.menuborder{
  width: 100%;
  border: 1px solid red;
  background-color: seagreen;

}
.nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.nav ul li {
     padding: 16px;
     text-align: center;
     font-size: 1.2rem;
     cursor: pointer;
     transition: background-color 0.2s;
     /* border: 1px solid white; */
}
.menu:hover{
    background-color: whitesmoke;
    color: black;
} 
#li:hover{
  background-color: none;

}
a{
  text-decoration: none;
}
/* #logo{
  display: none;
} */
.menu{
  display: none;
}
.fa-bars{
  position: absolute;
  top: 5px;
  left: 5px;
}

.cancel{
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  display: none;
  cursor: pointer;
}
.image-area{
    background-image: url('../images/home3.jpg');
    margin-top: 20px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center center;
    background-size: cover;
}
.centered-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 16px;
  }
.image-text {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .intro-text {
    color: black;
    font-size: 1.5rem;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  button{
    border:none;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 20px;
    transition: all 0.5s;
    background-color: white ;
    border: 1px solid seagreen;
    border-radius: 20px;
  }
  button:hover{
    background-color: seagreen;
    color: white;
  }

  .single-service {
    text-align: center;

  }
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    place-content: center;
  }
  .caffe img {
    width:500px;
  
  }
  .snacks img {
    width:500px;
  }
  .snacks p{
  text-align: center;
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 5px;
  }
  .caffe p {
  text-align: center;
  font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 5px;
  }
  .social-media{
    /* padding: 5px; */
    margin: 0px auto auto auto;
    text-align: center;
    /* border: 1px solid red; */
    padding: 0px;
  
  }
  .social-media h2{
    display: none;
  }
  .fab{
    border: 2px solid seagreen;
    background-color: white;
    margin: 3px;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
  }
  .fab:hover{
    color: seagreen;
  }
  /* .fa-facebook{
    width: 50px;
  } */
  #img{
    margin-top: 0px;
    padding-top: 0px;
    width: 30px;
    margin: auto;
    cursor: pointer;
  }
  
  .contact-banner {
    background-image: linear-gradient(
      to right,
      rgb(0, 114, 66) 0%,
      rgb(4, 109, 91) 100%
    );
    color: white;
    padding: 5px;
    font-size: 15px;
    height: auto;
    width: auto;
    text-align: center;
  }
  
  .invalid {
    border: 1px solid red;
  }
  
  /* .mb-2 {
    margin-bottom: 20px;
  }
  
  .mb-4 {
    margin-bottom: 40px;
  } */
  
  p {
    font-size: 15px;
  }
  
  .contact-description {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    width: auto;
    border: 1px solid rgb(0, 114, 66);
    font-size: 10px;
    outline: none;
    color: #333;
  }
  
  .form-control {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 2px;
  }
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .hide {
    opacity: 0;
  }
  
  textarea {
    width: 150px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    height: 100px;
    font-size: 18px;
  }
  
  button {
    color: black;
    padding: 5px;
    border: 1px solid seagreen (0, 114, 66);
    border-radius: 10px;
    background: none;
    cursor: pointer;
    transition: all 0.5s;
    color: seagreen (0, 114, 66);
  }
  
  button:hover {
    background-image: linear-gradient(
      to right,
      rgb(0, 114, 66) 0%,
      rgb(4, 109, 91) 100%
    );
    color: white;
  }
  .form{
    margin: 10px auto 10px auto;
    border: 1px solid seagreen;
    width: 50%;
    height: 50%;
  }
  form {
    padding: 10px;
    text-align: center;
  }
  .hr{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 2px;
    border: none;
    width: 330px;
    background-color: rgb(0, 114, 66);

  }
  
  hr {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 2px;
    border: none;
    background-color: rgb(0, 114, 66);
  }
  
  footer{
   background-color: whitesmoke;
  }

  footer p{
    text-align: center;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: seagreen;
    font-weight: bold;

  }

  .error{
    font-size: 12px ;
  }
 
/* *********************************************************************************************** */
  /* MEDIA QUERIES */
  @media screen and (min-width: 730px) {
    .nav ul {
      text-align: center;
    }
    .nav{
      position: fixed;
      width: 100%;
      top: 0px;
    }
  
    .nav ul li {
      display: inline-block;
      border-bottom: 0px;
      text-align: left;
    }
    
    ul img {
      width: 150px;
      margin-right: 700px;
      margin-top: 5px;
    }
    .fa-bars{
      display: none;
    }
    #logo{
        display:block;
        margin-top: 0px;
        padding-top: 0px;
        width: 200px;
        margin: auto;
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 5px;
  
    }
    input {
      padding: 15px;
      border-radius: 5px;
      width: auto;
      border: 1px solid rgb(0, 114, 66);
      font-size: 20px;
      outline: none;
      color: #333;
    }
    
    .image-area{
      background-image: url('../images/home3.jpg');
      padding-top: 200px;
      padding-bottom: 200px;
      margin-top: 0px;
      background-position: center center;
      background-size: auto auto ;
      margin: 0px;
  }
  
    .single-service {
      width: 50%;
      float: left;
    }
    .social-media{
  
      padding: 2px;
      margin: auto;
    }
    .social-media h2{
      display: block;
      text-align: center;
      margin: 0px;
    }
    .fa{
      margin: auto;
      width: 150px;
    }
    #img{
      margin: 5px;
      margin-bottom: 0px;
      width: 30px;
      height: 40px;
      display: inline-block;
      cursor: pointer;
    }
    .form {
      width: 500px;
      margin-bottom: 10px;
      padding: 10px;
      place-content: center;
      box-shadow: 10px 5px 15px#999;
    }

label{
  margin-top: 10px;
}
  .form h3 {
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  textarea {
    width: 400px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    height: 100px;
    font-size: 18px;
  }
   
    footer{
      padding-top: 0px;
      margin-top: 0px;
    }
   
  }
/* Media Queries */
  @media screen and (max-width: 1100px){
    .services{
      display: grid;
      grid-template-columns: 0.5fr;
    }
    .nav{
      width: 100%;
    }
    
    .image-area{
      padding-top: 200px;
      padding-bottom: 200px;
      background-position: center center;
      background-size: cover;
      width: 100%;
  }
  }